$desktop-width: 1260px;
$tablet-width: 768px;
$until-desktop-width: 1259px;
$introscriptr: "Intro Script R H2 Base", "Comic Sans MS", cursive;
$playfair: "Playfair Display", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$brand-color: #f50049;
$text-color: #2d2829;
$bg-color: #fbebea;
