.contacts__container {
  @include container;
  padding-top: 32px;
}

.contacts__title {
  @include font(28px, 32px);
  font-family: $playfair;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin: 0;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.contacts__add {
  @include font(20px, 20px);
  color: #32313d;
  font-family: $introscriptr;
  margin: 0;
  padding-bottom: 8px;
  letter-spacing: 0.8px;
}

.contacts__form {
  margin-bottom: 25px;

  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
  }

  &::-moz-placeholder {
    color: rgba(0, 0, 0, 0.2);
  }

  &:-moz-placeholder {
    color: rgba(0, 0, 0, 0.2);
  }

  &:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
}

.contacts__form-descr {
  @include font(14px, 17px);
  margin: 0;
  margin-bottom: 8px;
}

.contacts__form-field {
  padding: 15px 7px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  border: 2px solid transparent;
  border-radius: 3px;

  &--textarea {
    height: 120px;
    resize: none;
  }

  &:focus,
  &:active,
  &:hover {
    border-color: rgba(255, 182, 182, 0.278);
    box-shadow: 0px 3px 16px 3px rgba(146, 131, 131, 0.4);
    outline: none;
  }

  &:focus + .contacts__form-label,
  &:active + .contacts__form-label {
    display: none;
  }
}

.contacts__form-btn {
  @include font(19px, 24px);
  margin: 0 auto;
  margin-top: 5px;
  padding: 14px 45px;
  text-transform: none;
}

.contacts__text {
  @include font(14px, 17px);
  padding-bottom: 50px;
}

.contacts__text-descr {
  margin: 0;
  margin-bottom: 18px;
}

.contacts__text-info {
  color: inherit;
}

.contacts__social {
  @include list-reset;
  display: flex;
}

.contacts__social-descr {
  margin: 0;
  margin-bottom: 10px;
}

.contacts__social-item {
  margin-right: 30px;
}

.contacts__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  background-color: #ffffff;
  border-radius: 50%;

  &:hover,
  &:focus {
    box-shadow: 0 2px 10px 0 rgba(255, 0, 67, 0.3);
  }
}

.contacts__social-icon {
  fill: $brand-color;
}

//tablet

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 35px;
    padding-bottom: 85px;
    background: url("../img/strawberry-tablet.jpg") no-repeat;
    background-position-y: bottom;
    background-position-x: calc((100% - 50%) + 220px);
  }

  .contacts__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .contacts__title {
    @include font(34px, 34px);
    width: 100%;
    text-align: left;
    margin-bottom: 12px;
  }

  .contacts__add {
    width: 100%;
    padding-bottom: 20px;
  }

  .contacts__form {
    width: 52%;
    margin-right: 10%;
  }

  .contacts__form-descr {
    width: 255px;
  }

  .contacts__form-btn {
    @include font(14px, 24px);
    margin: 0;
    margin-top: 15px;
    padding: 10px 48px;
  }

  .contacts__text {
    width: 37%;
  }

  .contacts__social-descr {
    margin-bottom: 15px;
  }
}

//desktop

@media (min-width: $desktop-width) {
  .contacts {
    background: url("../img/strawberry-desktop.jpg") no-repeat;
    background-position-y: bottom;
    background-position-x: calc((100% - 50%) + 285px);
    padding-top: 65px;
    padding-bottom: 270px;
  }

  .contacts__container {
    @include desktop-width;
  }

  .contacts__title {
    @include font(48px, 50px);
    margin-bottom: 35px;
  }

  .contacts__add {
    @include font(35px, 35px);
    padding-bottom: 15px;
  }

  .contacts__form {
    margin-right: 80px;
    width: 550px;
  }

  .contacts__form-descr {
    @include font(20px, 24px);
    margin-bottom: 45px;
    width: auto;
  }

  .contacts__form-field {
    @include font(14px, 22px);
    padding: 2px 0;
    border: 0;
    height: 25px;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 37px;


    &:hover,
    &:focus,
    &:active {
      border: none;
      box-shadow: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .contacts__form-btn {
    @include font(19px, 28px);
    margin-top: 35px;
    padding: 11px 45px;
  }

  .contacts__text {
    @include font(20px, 24px);
  }

  .contacts__text-descr {
    margin-bottom: 25px;
  }

  .contacts__social-descr {
    margin-bottom: 25px;
  }
}
