.customer-care__container {
  @include container;
  padding-top: 35px;
  padding-bottom: 170px;
  background-image: url("../img/care-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.customer-care__title {
  @include font(30px, 30px);
  margin: 0;
  margin-bottom: 5px;
  font-family: $playfair;
}

.customer-care__add {
  @include font(22px, 26px);
  margin: 0;
  font-family: $introscriptr;
  color: #32313d;
}

.customer-care__text {
  @include font(14px, 17px);
  margin: 0;
}

//tablet

@media (min-width: $tablet-width) {
  .customer-care__container {
    margin: 0 auto;
    margin-top: -90px;
    padding-top: 125px;
    padding-bottom: 127px;
    background: url("../img/care-bg-tablet.png") no-repeat;
    background-position-y: top;
    background-position-x: calc((100% - 20%) + 100px);
  }

  .customer-care__title {
    @include font(34px, 34px);
    letter-spacing: 0.8px;
    margin-top: 35px;
    margin-bottom: 8px;
  }

  .customer-care__add {
    @include font(26px, 30px);
    margin-bottom: 5px;
  }

  .customer-care__text {
    width: 47%;
  }
}

//desktop

@media (min-width: $desktop-width) {
  .customer-care {
    margin-top: -330px;
    padding-top: 280px;
    padding-bottom: 255px;
    background: url("../img/care-bg-desktop.png") no-repeat;
    background-position-y: top;
    background-position-x: calc((100% - 50%) + 325px);
  }

  .customer-care__container {
    @include desktop-width;
    background: none;
  }

  .customer-care__title {
    @include font(48px, 55px);
    margin-bottom: 20px;
  }

  .customer-care__add {
    @include font(35px, 40px);
  }

  .customer-care__text {
    @include font(20px, 24px);
    width: 440px;
    font-weight: normal;
  }
}
