.footer-nav {
  @include list-reset;
}

.footer-nav__item {
  padding-bottom: 14px;
}

.footer-nav__link {
  @include font(14px, 14px);
  color: #ffffff;
  font-family: $roboto;
  font-weight: 400;

  &:hover,
  &:focus,
  &:active {
    color: $text-color;
  }
}

//tablet

@media (min-width: $tablet-width) {
  .footer-nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 87%;
    padding-top: 5px;
    padding-bottom: 35px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 5.4%;
      height: 1px;
      width: 105%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  .footer-nav__item {
    padding: 0;

    &--phone {
      display: none;
    }
  }

  .footer-nav__link {
    @include font(12px, 12px);
  }
}

//desktop

@media (min-width: $desktop-width) {
  .footer-nav {
    justify-content: space-between;
    width: 735px;
    padding-top: 15px;
    padding-bottom: 45px;

    &::before {
      width: 1220px;
      left: -245px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .footer-nav__link {
    @include font(16px, 16px);
    font-family: "Circe", "Arial", sans-serif;
    color: $text-color;
    font-weight: 400;

    &:hover,
    &:focus,
    &:active {
      color: $brand-color;
    }
  }
}
