.individual-fill__img {
  background-color: #fbebea;

  & img {
    margin: 0 auto;
  }
}

.individual-fill__title {
  color: #2f2f2f;
  font-family: Circe;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
