.page-header {
  background-color: $white;
  position: relative;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: #fbebea;
    margin-bottom: 5px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__container {
    display: flex;
    flex-wrap: wrap;
    min-height: 60px;
    max-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    @include desktop-width;
    padding-top: 60px;
    padding-bottom: 10px;
    min-height: 100px;
    max-height: 100px;
  }
}

.page-header__toggle {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  top: 13px;
  right: 20px;
  width: 18px;
  height: 14px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 2px;
    background-color: $black;
    box-shadow: 0 7px 0 0 $black, 0 14px 0 0 $black;
  }

  &:hover::after {
    background-color: $black;
    box-shadow: 0 7px 0 0 $black, 0 14px 0 0 $black;
  }
}

@media (min-width: $tablet-width) {
  .page-header__toggle {
    top: 20px;
    right: 0;
    left: 16.8%;
    width: 26px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__toggle {
    display: none;
  }
}

.page-header--opened .site-list {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header--opened .site-list {
    width: 320px;
    left: -63.4%;
    top: 60px;
  }
}

@media (max-width: $until-desktop-width) {
  .page-header--closed .site-list {
    display: none;
  }

  .no-js .site-list {
    position: static;
    display: block;
    min-height: auto;
    width: 100%;
  }

  .no-js .main-nav {
    order: 2;
    width: 100%;
  }

  .no-js .page-header__container {
    max-height: none;
  }

  .no-js .page-header__toggle {
    display: none;
  }
}

.page-header__logo {
  min-height: 40px;
  max-height: 40px;
  padding: 10px 20px 10px 20px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    width: 205px;
    box-sizing: border-box;
    padding: 20px 47px 20px 47px;
    min-height: 60px;
    max-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    padding: 0;
    width: 115px;
  }
}

.page-header__logo-link {
  color: $black;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .page-header__logo-link {
    font-size: 25px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-link {
    font-size: 28px;
    letter-spacing: 1.3px;
  }
}

.page-header__phone {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__phone {
    margin-left: auto;
    display: inline-block;
    color: #2d2829;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    box-sizing: border-box;
    padding: 25px 47px 20px 47px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__phone {
    padding: 0;
    padding-top: 10px;
  }
}

