html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  min-width: 320px;
  font-family: "Circe", "Arial", sans-serif;
  font-weight: 400;
  background-color: #fbebea;
  color: #2d2829;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

label.visually-hidden:active {
  display: none;
}

.btn {
  display: flex;
  margin: 0;
  padding: 20px 65px;
  align-items: top;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  width: auto;
  background-color: #f50049;
  border-radius: 26px;

  &:hover,
  &:focus {
    box-shadow: 0 5px 7px 1px rgba(255, 0, 67, 0.3);
  }
}

// @media (min-width: $desktop-width) {
//   .btn {
//     padding: 16px 32px 18px 32px;
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 22px;
//   }
// }
