@mixin desktop-width {
  max-width: 1260px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin font ($font-size: 16px, $line-height: auto, $font-style: normal) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin container {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 47px;
  }
}
