.fill {
  @include list-reset;
  display: flex;
  padding-top: 17px;
  overflow: hidden;
}

.fill__item {
  position: relative;
  display: none;
  padding: 0;
  flex-shrink: 0;
  flex-direction: column;

  &--current {
    display: flex;
  }
}

.fill__item-title {
  margin: 0 auto;
  width: 240px;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: $text-color;
}

.fill__item-description {
  @include font(14px, 17px);
  margin: 0 auto;
  width: 240px;
  margin-bottom: 10px;
}

.fill__item-image-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 40px;
  order: -1;
}

.fill__item-image {
  display: block;
  width: 241px;
  height: 113px;
  text-align: center;
}

.fill__item-price {
  @include font(22px, 22px);
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: $playfair;
  font-weight: 400;
  text-align: center;
}

//tablet

@media (min-width: $tablet-width) {
  .fill {
    width: 465px;
  }

  .fill__item {
    flex-direction: row;
    align-items: flex-start;
  }

  .fill__item-image-wrapper {
    flex-shrink: 0;
    margin: 0;
    margin-right: 25px;
  }

  .fill__item-image {
    width: 210px;
    height: 239px;
  }

  .fill__item-text-wrapper {
    margin-top: 20px;
    width: 230px;
  }

  .fill__item-title {
    @include font(18px, 24px);
    margin: 0;
  }

  .fill__item-description {
    margin: 0;
    margin-bottom: 5px;
    width: 205px;
  }

  .fill__item-price {
    @include font(24px, 24px);
    margin-bottom: 75px;
    text-align: left;
  }
}

//desktop

@media (min-width: $desktop-width) {
  .fill {
    margin-bottom: 37px;
    width: 665px;
  }

  .fill__item {
    flex-shrink: 0;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }

  .fill__item-image-wrapper {
    margin-right: 0;
  }

  .fill__item-image {
    width: 344px;
    height: 390px;
  }

  .fill__item-text-wrapper {
    padding-top: 47px;
    width: 280px;
  }

  .fill__item-title {
    @include font(20px, 26px);
  }

  .fill__item-description {
    @include font(18px, 24px);
    margin-bottom: 15px;
    font-weight: normal;
    width: auto;
  }

  .fill__item-price {
    @include font(26px, 26px);
    margin-bottom: 50px;
  }
}
