.reviews {
  position: relative;
  padding-top: 35px;
}

.reviews__container {
  @include container;
}

.reviews__title {
  @include font(30px, 30px);
  margin: 0;
  margin-bottom: 20px;
  font-family: $playfair;
  text-align: center;
  letter-spacing: 0.6px;
}

.reviews__list-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.reviews__list {
  @include list-reset;
  display: flex;
  overflow: hidden;
}

.reviews__item {
  display: none;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 100%;

  &--current {
    display: flex;
  }
}

.reviews__text-wrapper {
  text-align: center;
  width: 85%;
}

.reviews__item-name {
  @include font(14px, 24px);
  margin: 0;
  font-weight: bold;
}

.reviews__item-info {
  @include font(12px, 16px);
  margin: 0;
  margin-bottom: 5px;
}

.reviews__item-text-wrapper {
  @include font(12px, 14px);
  margin: 0 auto;
  min-height: 73px;
  text-align: center;
}

.reviews__item-text-hidden {
  display: none;
}

.reviews__item-photo {
  order: -1;

  & img {
    border-radius: 50%;
  }
}

.reviews__item-full-text {
  color: #f87b91;
  font-style: italic;
  text-decoration: underline;

  &--hide {
    display: none;
  }
}

.reviews__slider-counter {
  @include font(12px, 26px);
  position: absolute;
  right: 0;
  bottom: -8px;
  color: $brand-color;
}

//tablet

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 70px;
    padding-top: 35px;
    background: url("../img/review-bg-tablet.png") no-repeat center -10px;
  }

  .reviews__title {
    @include font(34px, 34px);
    margin-bottom: 25px;
  }

  .reviews__list-wrapper {
    width: 60.8%;
  }

  .reviews__item {
    flex-direction: row;
    align-items: flex-start;
  }

  .reviews__text-wrapper {
    width: 100%;
    padding-right: 20px;
  }

  .reviews__item-name {
    @include font(16px, 20px);
    text-align: left;
  }

  .reviews__item-info {
    @include font(14px, 18px);
    margin-bottom: 10px;
    text-align: left;
  }

  .reviews__item-text-wrapper {
    @include font(14px, 17px);
    min-height: 105px;
    text-align: left;
  }

  .reviews__item-full-text {
    &:hover,
    &:focus {
      color: $brand-color;
    }
  }

  .reviews__item-photo {
    align-self: flex-start;
    margin-top: 30px;
    margin-right: 25px;

    & img {
      max-width: none;
    }
  }

  .reviews__slider-counter {
    bottom: -20px;
  }
}

//desktop

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 95px;
    background: url("../img/review-bg-desktop.png") no-repeat center 0;
  }

  .reviews__list-wrapper {
    width: 630px;
  }

  .reviews__title {
    @include font(52px, 66px);
  }

  .reviews__item-photo {
    margin-right: 50px;
  }

  .reviews__text-wrapper {
    padding-top: 25px;
  }

  .reviews__item-name {
    @include font(27px, 30px);
    margin-bottom: 5px;
  }

  .reviews__item-info {
    @include font(20px, 24px);
    margin-bottom: 20px;
    font-weight: normal;
  }

  .reviews__item-text-wrapper {
    @include font(18px, 24px);
    width: 360px;
    font-weight: normal;
  }

  .reviews__slider-counter {
    @include font(18px, 26px);
    right: -65px;
    bottom: -15px;
  }
}
