.social {
  @include list-reset;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.social__item {
  box-sizing: border-box;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  opacity: 0.4;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

.social__icon {
  fill: #ffffff;
}

//tablet

@media (min-width: $tablet-width) {
  .social {
    width: auto;
    order: 2;
    padding-top: 15px;
    padding-bottom: 0;
    border: none;
  }
}

//desktop

@media (min-width: $desktop-width) {
  .social {
    order: 0;
    margin-left: auto;
  }

  .social__icon {
    fill: #000000;
  }
}
